
/* start style */
body{
    font-family: 'Open Sans', sans-serif;
    
}

.praymari-text{
    color: #FD6E0A;
}
.btn-praymari{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;

}

.section-titel{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.about-discription{
    color: #757575;
    text-align: center;
    font-size: 18px;

}

/* nav releted style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;

}


.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
 
nav > ul{
    display: flex;
    align-items: center;
}
nav li {
list-style: none;
margin-right: 50px;

}
nav a{
    text-decoration: none;
    color: #4747417;
}

/* header related style */
.header{
    background-color: #fff8f3;
    background-image: url('/images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

/* banner related style */
.banner{
    padding: 30px 30px 0 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-conten{
    max-width: 500px;
}
.banner .profile{
    width: 500px;
}
.hello{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
    
}
.title-name{
    font-size: 85px;
    /* font-style: normal; */
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;

}
/* hero aria crated */

/* about sectino star */

.about{
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0;
}

/* main arya style  */
main{
    max-width: 1140px;
    margin: 0 auto;
}
.about-info-bag{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;

}



